
.whatever{
    background-image: url(../../../../public/images/banner1.jpg);
    // width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter:brightness(0.2);
    
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
     h1 {
        font-family: "whatever";
        span{
            font-family: "whatever";
            font-size: 70px;
        }
        
    }
};
.logo{
    background-image: url(../../../../public/images/logo.png);
}


