// navbar

nav{
    width: 50vw;
}
.head{
    margin-top: 0;
    background-image: url(../../../../public/images/bbbbb.jpg);
    background-size: cover;
    background-position: center;
    li:hover {
        background-color:$red;
    }
}
// section banner
.whatever{
    position:relative;
    // width: 90vw;
    height: 100vh;
    
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
        h1 {
        font-family: "whatever";
        span{
            font-family: "whatever";
            font-size: 70px;
        }
    }
    .button1{
        font-size: 14px;
        padding: 10px 15px;
    }
};

// section 
.our{
    background-image: url(../../../../public/images/main_bg.jpg);
    height: auto;
    .deco{
        background-image: url(../../../../public/images/bottom_decoration_img.png);
        filter:brightness(0.1);
        height: 10px;
        transform: rotate(180deg);

        }

}

