@font-face {
    font-family: "whatever";
    src: url(../../../../public/fonts/Courgette-Regular.ttf);
   
};
@font-face {
    font-family: "main";
    src: url(../../../../public/fonts/SchibstedGrotesk-VariableFont_wght.ttf);
   
};


*{
    margin: 0;
    padding: 0;
    font-family: "main";
}