
@media ( min-width:300px ) and (max-width:425px)  {

    .whatever{
        height: 80vh;
    }
    .text{
        h1 {
            font-size: 16px;
            span{
                font-family: "whatever";
                font-size: 22px;
            }
            
        }
    }
    .button1{
        font-size: 2px;
        padding: 2px 4px;
    }
    .red{
        margin-top: 15px;
    }

    .deco{
        background-image: url(../../../../public/images/bottom_decoration_img.png);
        filter:brightness(0.1);
        height: 10px;
        transform: rotate(180deg);

    }
    // section 
    .main{
        width: 90vw;
    }
    .decoration{
        width: 80vw;
    }
    .corner{
        width: 80px;
    }
    .title{
        padding-top: 40px;
        span{
            font-size: 35px;
            letter-spacing: -1px;
        }
    }
    .para{
        font-size: 10px;
    }

    .team{
        height: 250vh;
        // background-position: center;
    }
    .chef{
        height: 90vh;
        position: absolute;
        top: 20%;       
    }

    .cheef{
        width: 130px;
    }
    .cheeef{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    






};