
@media ( min-width:300px ) and (max-width:425px)  {
    // .navbar{
    //     position: absolute;
    //     z-index: 1;
    //     width: 100vw;
    //     left:0;
    // }
    // .logo{
    //     position: absolute;
    //     top: 0px;
    //     left: 45%
    // }
    .whatever{
        height: 80vh;
    }
    .text{
        h1 {
            font-size: 16px;
            span{
                font-family: "whatever";
                font-size: 22px;
            }
            
        }
    }
    .button1{
        font-size: 2px;
        padding: 2px 4px;
    }
    .red{
        margin-top: 15px;
    }

    .deco{
        background-image: url(../../../../public/images/bottom_decoration_img.png);
        filter:brightness(0.1);
        height: 10px;
        transform: rotate(180deg);

    }
    // section 
    .main{
        width: 90vw;
    }
    .decoration{
        width: 80vw;
    }
    .corner{
        width: 80px;
    }
    .title{
        padding-top: 40px;
        span{
            font-size: 25px;
            letter-spacing: -1px;
        }
    }
    .para{
        font-size: 13px;
    }
};